html {
    scroll-behavior: smooth;
}  
/*-----------------------------*/
body {
    background: #88cbab;
    background: linear-gradient(0deg, #45acb7 0%, #0d4254 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}
/*-----------------------------*/
.page__header {
    background: url('../images/download10.jpeg') no-repeat center center/cover;
    height: 700px;
    position: relative;
    background-size: cover; 
}
@media only screen and (max-width: 985px) {
    .page__header {
        height: 350px;
        position: relative;
        background-size: cover; 
    }
}
/*-----------------------------*/
.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #d25208;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
@media only screen and (max-width: 985px) {
    .navbar__menu {
        background-color: #000;
        flex-direction: column;
        align-items: flex-start;
    }
}
.navbar__menu.scrolled {
    background-color: #000; 
}
/*-----------------------------*/
.hamburger-menu {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    margin: 20px;
    margin-left: auto;
}
@media only screen and (max-width: 985px) {
    .hamburger-menu {
        display: block;
    }
}
/*-----------------------------*/
.logo{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 985px) {
    .logo{
        width: 100%;
    }
}
/*-----------------------------*/
.logo-img {
height: 90px;
width: auto;
margin: 7px 20px ;
}
@media only screen and (max-width: 985px) {
    .logo-img {
        height: 65px;
        width: auto;
        margin: 7px 15px ;
        }  
}
/*-----------------------------*/
.logo-text {
    font-size: 2em;
    color: #fff;
    margin : 0;
    margin-top: 15px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 9px;
}
@media only screen and (max-width: 985px) {
    .logo-text {
        font-size: 1.5em;
    }
}
/*-----------------------------*/
.logo-sub-text {
    font-size: 1em;
    color: #fff;
    margin: 0;
    letter-spacing: 3px;
}
@media only screen and (max-width: 985px) {
    .logo-sub-text {
        margin-bottom: 15px;
    }
}
/*-----------------------------*/
#navbar__list {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    gap: 20px;
    }
@media only screen and (max-width: 985px) {
    #navbar__list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #000;
        width: 100%;
        padding: 10px 0;
        z-index: 1000;
    }
    #navbar__list.show {
        display: flex; 
    }
}

#navbar__list li {
    display: inline-block;
}

#navbar__list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    background-color: #007694;
    border-radius: 5px;
}

#navbar__list a:hover,
#navbar__list a.active {
    background-color: #d25208;
    border-radius: 5px;
}
@media only screen and (max-width: 985px) {
    #navbar__list li {
        text-align: center;
        padding: 10px 0;
    }

    #navbar__list a {
        padding: 10px;
        font-size: 1.2em;
        text-align: center;
    }
}
/*-----------------------------*/    
.title {
    font-size: 1.2cm;
    padding: 200px 0 0 50px;
}
span{
    color: #d25208;
}
.subtitle{
    padding: 0 50px;
}
@media only screen and (max-width: 985px) {
    .title{
        padding: 150px 0 0 30px;
        font-size: 1.5em;
    }
    .subtitle{
        padding: 0 30px;
    }
}
/***********************************************************************/

.container {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-top: 30px;
}

.post-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.post-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.post-card h2 {
    padding: 5px;
    font-size: 1.5rem;
    color: #000000;
}

.post-card p {
    padding: 5px;
    color: #666;
}


.post-card a {
    display: inline-block;
    color: #ffffff;
    background-color: #ff6f61;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.post-card a:hover {
    background-color: #e55a4f;
    transform: scale(1.05);
    text-decoration: none;
}

@media (max-width: 800px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        padding: 50px;
    }
    .post-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 10px;
        padding-top: 20px;
    }
    .post-grid {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        width: 100%; 
        margin: 0 auto; 
    }
}

/*-----------------------------*/   
/* Scroll to Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #d25208;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

/*----------------------------------------------------*/


section {
    position: relative;
    min-height: 80vh;
}


/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}
h2{
    font-size: 1cm;
    
    padding: 15px 0;
    border-bottom: 5px solid #d25208;
}
.page__footer p{
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
        translate(-1em)
        rotate(0deg);
	}
	to {
		transform: rotate(360deg)
        translate(-1em) 
        rotate(-360deg);
	}
}

